<div class="container">
  <h2>Laporan Amalan di bulan Ramadhan</h2>
  <%= form_for @report_ramadhan do |form| %>
    <div class="row">
      <div class="col-25">
        <%= form.label :tanggal %>
      </div>
      <div class="col-75">
        <%= form.date_field :tanggal, data:{ provide:'datepicker' } %>

      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :puasa %>
      </div>
      <div class="col-75">
        <%= form.select :puasa, options_for_select([['Puasa', "Puasa"], ['Tidak',"Tidak"]], selected: @report_ramadhan.puasa), required: true  %>

      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :tadarus %>
      </div>
      <div class="col-75">
        <%= form.text_field :tadarus, placeholder: "Misal: Yasin(1)-(20)", required: true %>
      </div>
    </div>

    <div class="row" hidden="">
      <div class="col-75">
        <%= form.text_field :major_id, :value => current_student.major_id, required: true %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :tarawih %>
      </div>
      <div class="col-75">
        <%= form.select :tarawih, options_for_select([['tarawih', "tarawih"], ['Tidak',"Tidak"]], selected: @report_ramadhan.tarawih), required: true  %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :subuh %>
      </div>
      <div class="col-75">
        <%= form.text_field :subuh, placeholder: "Misal: 05:03", required: true%>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :dzuhur %>
      </div>
      <div class="col-75">
        <%= form.text_field :dzuhur, placeholder: "Misal: 12:13", required: true  %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :ashar %>
      </div>
      <div class="col-75">
        <%= form.text_field :ashar, placeholder: "Misal: 15:23" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :magrib %>
      </div>
      <div class="col-75">
        <%= form.text_field :magrib, placeholder: "Misal: 18:07" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :isya %>
      </div>
      <div class="col-75">
        <%= form.text_field :isya, placeholder: "Misal: 19:23" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :duha %>
      </div>
      <div class="col-75">
        <%= form.text_field :duha, placeholder: "Misal: 10:56" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :tahajud %>
      </div>
      <div class="col-75">
        <%= form.text_field :tahajud, placeholder: "Misal: 02:30" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :taubat %>
      </div>
      <div class="col-75">
        <%= form.text_field :taubat, placeholder: "Misal: 22:42" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :hajat %>
      </div>
      <div class="col-75">
        <%= form.text_field :hajat, placeholder: "Misal: 10:03" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :bukti_laporan_hasil_collapse %>
      </div>
      <div class="col-75">
        <%= form.file_field :files, multiple: true, placeholder: "aaa" %>
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <%= form.label :alasan %>
      </div>
      <div class="col-75">
        <%= form.text_area(:alasan, size: '50x10') %>
      </div>
    </div>

    <div class="row" hidden="">
      <div class="col-25">
        <%= form.label :student_id %>
      </div>
      <div class="col-75">
        <%= form.text_field :student_id %>
      </div>
    </div>

    <div class="row">
      <%= form.submit "Kirim Laporan", :class => "kirim btn btn-primary", id: "kirim" %>
    </div>
  <% end %>
</div>
</div>