<p id="notice"><%= notice %></p>

<p>
  <strong>Puasa:</strong>
  <%= @report_ramadhan.puasa %>
</p>

<p>
  <strong>Tadarus:</strong>
  <%= @report_ramadhan.tadarus %>
</p>

<p>
  <strong>Tarawih:</strong>
  <%= @report_ramadhan.tarawih %>
</p>

<p>
  <strong>Subuh:</strong>
  <%= @report_ramadhan.subuh %>
</p>

<p>
  <strong>Dzuhur:</strong>
  <%= @report_ramadhan.dzuhur %>
</p>

<p>
  <strong>Ashar:</strong>
  <%= @report_ramadhan.ashar %>
</p>

<p>
  <strong>Magrib:</strong>
  <%= @report_ramadhan.magrib %>
</p>

<p>
  <strong>Isya:</strong>
  <%= @report_ramadhan.isya %>
</p>

<p>
  <strong>Duha:</strong>
  <%= @report_ramadhan.duha %>
</p>

<p>
  <strong>Tahajud:</strong>
  <%= @report_ramadhan.tahajud %>
</p>

<p>
  <strong>Taubat:</strong>
  <%= @report_ramadhan.taubat %>
</p>

<p>
  <strong>Hajat:</strong>
  <%= @report_ramadhan.hajat %>
</p>

<p>
  <strong>Alasan:</strong>
  <%= @report_ramadhan.alasan %>
</p>

<p>
  <strong>Student:</strong>
  <%= @report_ramadhan.student_id %>
</p>

<%= link_to 'Edit', edit_report_ramadhan_path(@report_ramadhan) %> |
<%= link_to 'Back', report_ramadhans_path %>
