<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
  .navbar {
    /*position: fixed;*/
  }
</style>
<nav class="navbar navbar-expand-md bg-dark navbar-dark" id="navbar">
  <a class="navbar-brand hello" id="hello" >
    <% if current_student.avatar.attached? %>
      <%= image_tag url_for(current_student.avatar), class:"image-avatar", id: "avat" %>
    <% else %>
      <img src="<%= asset_path('avatar.jpg')%>" alt="avatar" id="avat" class="image-avatar">
    <% end %>
    <%= current_student.firstname %>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Dashboard", homes_path , :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Laporanku", homes_myreports_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Profil", profile_index_path, :class => 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Logout", destroy_student_session_path, method: :delete, :class => 'nav-link logout', :id => "logout"   %>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="container">
  <div class="row">
    <h2 class="ban">Data Informasi Corona Indonesia</h2>
    <div class="col-sm" id="konfirmasi">
      <%= fa_icon "plus 2x", class: "plus" %>Total Kasus
    </div>
    <div class="col-sm" id="sembuh">
      <%= fa_icon "heart 2x", class: "heart" %> Sembuh
    </div>
    <div class="col-sm" id="meninggal">
      <%= fa_icon "frown-o 2x", class: "frown-o" %> Meninggal
    </div>
  </div>
</div> -->

<div class="container banner-corona">
    <center>
      <h3 class="caption-banner">Data Informasi Corona </h3><em>(klik)</em>
      <hr>
    </center>
  <div class="row" id="data-cor">
    <div class="col" id="konfirmasi" style="border-right: 1px solid black;">
      <%= fa_icon "plus 2x", class: "plus" %><br/ >
      Total Kasus
    </div>
    <div class="col order-12" id="meninggal" style="border-left: 1px solid black;">
      <%= fa_icon "frown-o 2x", class: "frown-o" %><br />
      Meninggal<br />
    </div>
    <div class="col order-1" id="sembuh">
      <%= fa_icon "heart 2x", class: "heart" %><br />
      Sembuh
    </div>
  </div>
</div>
<!-- <button id="konfirmasi"></button>
<button id="sembuh"></button>
<button id="meninggal"></button> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- <script>
$.ajax({
        url: "https://api.kawalcorona.com/indonesia",
        type: 'GET',
        dataType: 'json', // added data type
        success: function(res) {
            console.log(res);
            alert(res);
        }
    });
</script> -->
<script>
$(document).ready(function(){
var stream = 'https://www.trackcorona.live/api/countries/id';
    $.ajax({
        url: stream,
        dataType: "json",
        contentType: 'application/json',
        success: function(respone, status) {
            var konfirmasi = $('#konfirmasi');
            var sembuh = $('#sembuh');
            var meninggal = $('#meninggal');
              // list.empty();
              $(respone.data).each(function (index, element) {
                  konfirmasi.append(element.confirmed);
                  // list.append('<li>'+element.dead+'<li>')
              })
              $(respone.data).each(function (index, element) {
                  sembuh.append(element.recovered);
                  // list.append('<li>'+element.dead+'<li>')
              })

              $(respone.data).each(function (index, element) {
                  meninggal.append(element.dead);
                  // list.append('<li>'+element.dead+'<li>')
              })
        }
    });
});
</script>
<br>
<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: "alert alert-info", id: "alerts" %>
<% end %>

<%= render partial: '/report_ramadhans/form' %>

  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" hidden="">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content spinner-border text-primary">
        <!-- ICON -->
      </div>

    </div>
  </div>

<script>
  $('document').ready(function () {
    setTimeout(function () {
      $('.alert-info').slideUp();
    }, 2000);
  });
</script>


<script>
$(document).ready(function(){
  $(".kirim").click(function(){
    $(".btn-info").click();
  });
});
</script>

<script>
$(document).ready(function(){
  $(".caption-banner").click(function(){
    $("#data-cor").slideToggle("slow");
  });
});
</script>
