<!DOCTYPE html>
<html>
  <head>
    <title>RamadhanAlihsan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/vendor/animate/animate.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/vendor/css-hamburgers/hamburgers.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/vendor/animsition/css/animsition.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/vendor/select2/select2.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/vendor/daterangepicker/daterangepicker.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/util.css">
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/main.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('logo-sekolah.png') %>
  </head>

  <body>
    <%= yield %>
  </body>

  <script src="/assets/vendor/jquery/jquery-3.2.1.min.js"></script>
  <script src="/assets/vendor/animsition/js/animsition.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/popper.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/assets/vendor/select2/select2.min.js"></script>
  <script src="/assets/vendor/daterangepicker/moment.min.js"></script>
  <script src="/assets/vendor/daterangepicker/daterangepicker.js"></script>
  <script src="/assets/vendor/countdowntime/countdowntime.js"></script>
  <script src="/assets/js/main.js"></script>
</html>
